body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u11 {
  position:absolute;
  left:0px;
  top:-20px;
  width:375px;
  height:667px;
}
#u12 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:7px;
  top:87px;
  width:361px;
  height:137px;
  opacity:0;
}
#u13_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:137px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13.mouseDown {
  opacity:0.3;
}
#u14 {
  position:absolute;
  left:2px;
  top:60px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  position:absolute;
  left:7px;
  top:228px;
  width:361px;
  height:137px;
  opacity:0;
}
#u15_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:137px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15.mouseDown {
  opacity:0.3;
}
#u16 {
  position:absolute;
  left:2px;
  top:60px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  position:absolute;
  left:7px;
  top:369px;
  width:361px;
  height:137px;
  opacity:0;
}
#u17_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:137px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17.mouseDown {
  opacity:0.3;
}
#u18 {
  position:absolute;
  left:2px;
  top:60px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:325px;
  top:3px;
  width:37px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
